<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.phil.forgoodnessbakes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NutellaActivity"
            android:label="@string/nutella_cake"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ViewRecipeStep"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".BrownieActivity"
            android:label="@string/title_activity_brownie"
            android:parentActivityName=".MainActivity"
            android:theme="@style/CollapsingToolBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.phil.forgoodnessbakes.MainActivity" />
        </activity>
        <activity
            android:name=".YellowCakeActivity"
            android:label="@string/title_activity_yellow_cake"
            android:parentActivityName=".MainActivity"
            android:theme="@style/CollapsingToolBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.phil.forgoodnessbakes.MainActivity" />
        </activity>
        <activity
            android:name=".CheeseCakeActivity"
            android:label="@string/title_activity_cheese_cake"
            android:parentActivityName=".MainActivity"
            android:theme="@style/CollapsingToolBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.phil.forgoodnessbakes.MainActivity" />
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_nutella_step_detail"
            android:parentActivityName=".NutellaActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.phil.forgoodnessbakes.NutellaActivity" />
        </activity>
    </application>

</manifest>